# git files
.gitignore export-ignore
.gitattributes export-ignore
# screenshot files
Screenshots/* export-ignore
Screenshots export-ignore
# Example files
ExamplePages/* export-ignore
ExamplePages export-ignore
